block navigation
  
  nav.navigation.bg-gray
    div.section.nav-left
      a(href="##").rpgc.health
        span.rpg.rpg8_05 &nbsp;
        span.text-white 26
      a(href="##").rpgc.action
        span.rpg.rpg1_95 &nbsp;
        span.text-white 26
      a(href="##").rpgc.mind
        span.rpg.rpg5_19 &nbsp;
        span.text-white 26
      a(href="##").rpgc.attack
        span.rpg.rpg1_52 &nbsp;
        span.text-white 13
      a(href="##").rpgc.defense
        span.rpg.rpg8_10 &nbsp;
        span.text-white 13
        
        
        
    div.section.nav-right
      a(href="##")
        i.fa.fa-cog
