/* OBS Browser Source Styling */
#obs {

  .flex-display();
  width:280px;

  .characterBox {
    .flex-display();
    .flex-direction(column);
    margin-right:1.15rem;
  }

  .characterHealthBar {
    .relative;
    .border-radius(1rem);
    margin-bottom:.45rem;
    padding:.25rem;
    .text-center;
      .healthColor {
        .transition(all 0.3s ease-in-out);
        .border-radius(1rem);
        .absolute;
        top:0;left:0;bottom:0;
        width:100%;
      }
      .healthText {
        .relative;
        z-index:2;
      }
  }

  .characterStats {
    .flex-display();
    .flex-direction(row);
    .space-between;
    .stat {
      .border-radius(.2rem);
      padding:.4rem .6rem;
      .ra {
        margin-right:.25rem;
        font-size:.85rem;
      }
    }
  }

  .characterLocation, .characterItems {
    .flex-display();
    min-width:120px;
  }
  .characterLocation {
    margin-bottom:.42rem;
    margin-top:..5rem;
    span {
      .block;
    }
  }
  .characterDeaths, .characterKills, .monsterKills, .characterRevives {
    font-size:.88rem;
    margin-right:.8rem;
    .ra {margin-right:.32rem;}
  }
  .characterDeaths {margin-bottom:.28rem;}

}
