extends layouts/default

block content
    if characters
      .section.p-3.justify-center
        pre= h.dump(characters)
    else
      .section.p-3.justify-center.flex-column
        h1 Things are empty...
      .section.p-3.justify-center.flex-column
        form(method="POST", name="newCharacter", action="/new")
          input(type="text", name="name")
          input(type="submit")
    
