doctype html
html
  head
    title= `pbot ${character && ' - connected'}`
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='styles/bundle.min.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body.theme-default
    block navigation
      include ../partials/navigation

    block messages
      
    .content
      block content

    block scripts
      script(src="scripts/bundle.min.js")
